# LAB 02 - Pandas

## 02 Series 객체의 기능

### 라이브러리 참조하기

In [1]:
import numpy as np
from pandas import Series

### Series 객체의 연산

In [4]:
#리스트나 ndarray 를 통한 객체 생성시 인덱스를 직접 지정하면서 만들기

my1 =Series([10,20,30],index=["hello",'world','nice'])

my1

hello    10
world    20
nice     30
dtype: int64

In [8]:
#딕셔너리로 생성
my2 =Series({'world':1,'test':2,'hello':3})
my2

world    1
test     2
hello    3
dtype: int64

### Series 객체의 연산
인덱스가 같은 항목끼리 연산을 수행 (연산 대상이 없을 경우 NaN 이 된다)

In [10]:
#시리즈 객체의 사칙연산 (인덱스 순서가 달라도 대응해서 계산이 가능하다)
merge = my1+my2
merge

hello    13.0
nice      NaN
test      NaN
world    21.0
dtype: float64

In [13]:
#모든 원소에 대한 연산을 수행한다
addon = my1+1000
addon

hello    1010
world    1020
nice     1030
dtype: int64

In [15]:

times = my1*5
times

hello     50
world    100
nice     150
dtype: int64

### 기초 통계랑

In [17]:
column = Series([188, 92, 45, 63, 79])

print("합계:", column.sum())
print("평균:", column.mean())
print("최대:", column.max())
print("최소:", column.min())
print("분산:", column.var())
print("표준편차:", column.std())
print("중앙값:", column.median())
print("1사분위 수:", column.quantile(0.25))
print("2사분위 수:", column.quantile(0.5))
print("3사분위 수:", column.quantile(0.75))

합계: 467
평균: 93.4
최대: 188
최소: 45
분산: 3106.2999999999993
표준편차: 55.73419058351883
중앙값: 79.0
1사분위 수: 63.0
2사분위 수: 79.0
3사분위 수: 92.0

### 조건 검색
샘플 데이터를 정의합니다

In [19]:
# 0부터 100 전까지(99까지) 10씩 증가하는 값을 원소로 갖는 객체 생성
column = Series(np.arange(0, 100, 10))
column

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [21]:
#Series 도 Numpy 와 같은 표현식으로 조건을 걸 수 있다 (단일 조건)

in1 = column[column>30]
in1

4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

In [22]:
# And 조건 : 대괄호를 중첩하여 표기한다
in2 = column[column<=70][column>10]
in2

2    20
3    30
4    40
5    50
6    60
7    70
dtype: int64

In [24]:
# Or 조건 : 하나의 대괄호 안에 소괄호를 넣고, 파이프라인으로 구분한다

in3 = column[(column<=10)|(column>=70)]
in3

0     0
1    10
7    70
8    80
9    90
dtype: int64

### 타입 변환

In [25]:
#실습을 위한 원본 객체 생성
origin = Series(np.arange(0, 100, 10))
origin.info()

<class 'pandas.core.series.Series'>
RangeIndex: 10 entries, 0 to 9
Series name: None
Non-Null Count  Dtype
--------------  -----
10 non-null     int64
dtypes: int64(1)
memory usage: 212.0 bytes

In [ ]:
#float 타입으로의 변환 > astype
x= origin.astype('float')
x.info

<bound method Series.info of 0     0.0
1    10.0
2    20.0
3    30.0
4    40.0
5    50.0
6    60.0
7    70.0
8    80.0
9    90.0
dtype: float64>

In [29]:
#str 타입으로의 변환 > astype
x= origin.astype('str')
x.info

<bound method Series.info of 0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: object>

### 데이터 정렬

In [33]:

my_dict = {"c": 456, "a": 123, "b": 789}
origin = Series(my_dict)
origin

c    456
a    123
b    789
dtype: int64

In [34]:
#값 기반의 오름차순 정렬
sort1 = origin.sort_values()
sort1

a    123
c    456
b    789
dtype: int64

In [36]:
#값 기반의 내림차순 정렬
sort2 = origin.sort_values(ascending=False)
sort2

b    789
c    456
a    123
dtype: int64

In [38]:
#인덱스 기반의 오름차순 정렬
sort3 = origin.sort_index()
sort3

a    123
b    789
c    456
dtype: int64

In [39]:
#인덱스 기반의 내림차순 정렬
sort4 = origin.sort_index(ascending=False)
sort4

c    456
b    789
a    123
dtype: int64