# LAB 05 - Data preprocessing

## 01 데이터 재구조화 - Stack / Unstack

- Stack 은 행 인덱스 방향의 데이터를 열에서 행으로 압축하여 멀티인덱스 구조로 묶는 변환
- Unstack 은 멀티 인덱스로 구성된 행 인덱스를 행에서 열로 펼쳐 새로운 컬럼 구조를 만드는 변환

### #.01 준비작업

In [1]:
#라이브러리 참조
from hossam import load_data
from pandas import DataFrame

In [2]:
origin = load_data('body_size')
origin

[data] https://data.hossam.kr/data/lab05/body_size.xlsx
[desc] 어느 학급 학생들의 이름, 성별, 키, 몸무게에 대한 가상의 데이터(메타데이터 없음)

field    description
-------  -------------
name     이름
sex      성별
height   키
weight   몸무게

     sex  height  weight
name
Lee    M     175    98.0
Park   F     167    48.0
Hong   M     180     NaN
Kim    F     162    55.0
Nam    M     172    85.0

### #02 Stack

In [4]:
st1 = origin.stack() #인덱스 열에 따라 모든 변수를 하나의 변수로 쌓는 처리 > 리턴 결과는 시리즈 객체 
print(type(st1))  
st1

<class 'pandas.core.series.Series'>

name
Lee   sex          M
      height     175
      weight    98.0
Park  sex          F
      height     167
      weight    48.0
Hong  sex          M
      height     180
Kim   sex          F
      height     162
      weight    55.0
Nam   sex          M
      height     172
      weight    85.0
dtype: object

In [6]:
#stack 결과를 DataFrame 으로 생성하기 > NaN 값은 자동으로 빠진다
df1 = DataFrame(origin.stack()) 
df1

                0
name
Lee  sex        M
     height   175
     weight  98.0
Park sex        F
     height   167
     weight  48.0
Hong sex        M
     height   180
Kim  sex        F
     height   162
     weight  55.0
Nam  sex        M
     height   172
     weight  85.0

In [7]:
#빈 값 포함 시키기 > dropna= False 옵션으로 NaN 을 그대ㅗㄹ 유지할 수 있다

st2 = origin.stack(dropna=False)
df2=DataFrame(st2)
df2

C:\Users\itwill\AppData\Local\Temp\ipykernel_3108\994767459.py:3: FutureWarning: The previous implementation of stack is deprecated and will be removed in a future version of pandas. See the What's New notes for pandas 2.1.0 for details. Specify future_stack=True to adopt the new implementation and silence this warning.
  st2 = origin.stack(dropna=False)

                0
name
Lee  sex        M
     height   175
     weight  98.0
Park sex        F
     height   167
     weight  48.0
Hong sex        M
     height   180
     weight   NaN
Kim  sex        F
     height   162
     weight  55.0
Nam  sex        M
     height   172
     weight  85.0

### #03 Unstack > stack 결과를 원래대로 되돌린다

In [8]:
st2.unstack()

     sex height weight
name
Lee    M    175   98.0
Park   F    167   48.0
Hong   M    180    NaN
Kim    F    162   55.0
Nam    M    172   85.0