# LAB 05 - Data preprocessing

## 03 파생변수

### #01.준비작업

In [1]:
#라이브러리 참조
from hossam import load_data
import numpy as np

In [2]:
#데이터 가져오기
origin = load_data('grade')
origin

[data] https://data.hossam.kr/data/common/grade.xlsx
[desc] 어느 학급의 과목별 점수를 조사한 가상의 데이터

field    description
-------  -------------
이름     index
학년     int
성별     str
국어     int
영어     int
수학     int
과학     int

    학년  성별  국어   영어  수학  과학
이름
철수   1  남자  98   77  88  64
영희   2  여자  88  120  62  72
민철   1  남자  92   70  83  79
수현   3  여자  63   60  31  71
호영   4  남자  75   50  90  88
영호   4  남자  80   88  91  72
용식   2  남자  82   88  79  90
나영   1  여자  90   92  81  95
석영   1  남자  91   90  89  80

### #02.파생변수 추가하기
- 컬럼 연산을 통한 새로운 컬럼 추가

In [ ]:
df1 = origin.copy()

#직접 더해주는 방식은 나중에 갯수가 늘어나면 힘들어질 수 있음
df1['직접합계']=df1['국어']+df1['영어']+df1['수학']+df1['과학']

df1

    학년  성별  국어   영어  수학  과학  직접합계
이름
철수   1  남자  98   77  88  64   327
영희   2  여자  88  120  62  72   342
민철   1  남자  92   70  83  79   324
수현   3  여자  63   60  31  71   225
호영   4  남자  75   50  90  88   303
영호   4  남자  80   88  91  72   331
용식   2  남자  82   88  79  90   339
나영   1  여자  90   92  81  95   358
석영   1  남자  91   90  89  80   350

### #02.파생변수 추가하기 
- 기술통계 관련 함수를 사용한 파생변수
- 컬럼 이름에 대한 슬라이싱 접근

In [ ]:
df2 = origin.copy()

#기존에 없던 컬럼 이름을 넣으면 바로 새로운 컬럼을 만들 수 있다
#axis =1 이면 x 축 0 이면 y 축 계산을 의미한다
df2['합계']=df2[df2.columns[2:6]].sum(axis=1)
df2

    학년  성별  국어   영어  수학  과학   합계
이름
철수   1  남자  98   77  88  64  327
영희   2  여자  88  120  62  72  342
민철   1  남자  92   70  83  79  324
수현   3  여자  63   60  31  71  225
호영   4  남자  75   50  90  88  303
영호   4  남자  80   88  91  72  331
용식   2  남자  82   88  79  90  339
나영   1  여자  90   92  81  95  358
석영   1  남자  91   90  89  80  350

### #02.파생변수 추가하기 
- 기술통계 관련 함수를 사용한 파생변수
- 인덱스 기반 위치로 슬라이싱 하여 합계 변수 추가

In [ ]:
df3 = origin.copy()

#모든 행에 대해서 , 2번째 컬럼부터 끝까지, x 축으로 합계 산출
df3['합계']=df3.iloc[:,2:].sum(axis=1)
df3

    학년  성별  국어   영어  수학  과학   합계
이름
철수   1  남자  98   77  88  64  327
영희   2  여자  88  120  62  72  342
민철   1  남자  92   70  83  79  324
수현   3  여자  63   60  31  71  225
호영   4  남자  75   50  90  88  303
영호   4  남자  80   88  91  72  331
용식   2  남자  82   88  79  90  339
나영   1  여자  90   92  81  95  358
석영   1  남자  91   90  89  80  350

### #02.파생변수 추가하기 
- 기술통계 관련 함수를 사용한 파생변수
- 나머지 기술 통계값 추가

In [7]:
# 평균값 추가
df3['평균'] = df3.iloc[:, 2:6].mean(axis=1)

# 최대값 추가
df3['최대값'] = df3.iloc[:, 2:6].max(axis=1)

# 최소값 추가
df3['최소값'] = df3.iloc[:, 2:6].min(axis=1)

# 표준편차 추가
df3['표준편차'] = df3.iloc[:, 2:6].std(axis=1)

# 분산 추가
df3['분산'] = df3.iloc[:, 2:6].var(axis=1)

df3

    학년  성별  국어   영어  수학  과학   합계     평균  최대값  최소값       표준편차          분산
이름
철수   1  남자  98   77  88  64  327  81.75   98   64  14.614491  213.583333
영희   2  여자  88  120  62  72  342  85.50  120   62  25.370587  643.666667
민철   1  남자  92   70  83  79  324  81.00   92   70   9.128709   83.333333
수현   3  여자  63   60  31  71  225  56.25   71   31  17.461863  304.916667
호영   4  남자  75   50  90  88  303  75.75   90   50  18.409689  338.916667
영호   4  남자  80   88  91  72  331  82.75   91   72   8.539126   72.916667
용식   2  남자  82   88  79  90  339  84.75   90   79   5.123475   26.250000
나영   1  여자  90   92  81  95  358  89.50   95   81   6.027714   36.333333
석영   1  남자  91   90  89  80  350  87.50   91   80   5.066228   25.666667

### #03.조건별 파생 변수
- if else

In [10]:
#실습용 합계와 평균 파생변수 추가
df4=origin.copy()
df4['평균'] = df4.iloc[:, 2:6].mean(axis=1)
df4['합계'] = df4.iloc[:, 2:6].sum(axis=1)
df4

    학년  성별  국어   영어  수학  과학     평균   합계
이름
철수   1  남자  98   77  88  64  81.75  327
영희   2  여자  88  120  62  72  85.50  342
민철   1  남자  92   70  83  79  81.00  324
수현   3  여자  63   60  31  71  56.25  225
호영   4  남자  75   50  90  88  75.75  303
영호   4  남자  80   88  91  72  82.75  331
용식   2  남자  82   88  79  90  84.75  339
나영   1  여자  90   92  81  95  89.50  358
석영   1  남자  91   90  89  80  87.50  350

### #03.조건별 파생 변수
- if else : Numpy의 where 함수를 사용한 조건부 파생 변수

In [ ]:
#80점이 넘으면 합격, 아니면 불합격 
df4['결과1'] = np.where(df4['평균']>=80,'합격','불합격')
df4

    학년  성별  국어   영어  수학  과학     평균   합계  결과1
이름
철수   1  남자  98   77  88  64  81.75  327   합격
영희   2  여자  88  120  62  72  85.50  342   합격
민철   1  남자  92   70  83  79  81.00  324   합격
수현   3  여자  63   60  31  71  56.25  225  불합격
호영   4  남자  75   50  90  88  75.75  303  불합격
영호   4  남자  80   88  91  72  82.75  331   합격
용식   2  남자  82   88  79  90  84.75  339   합격
나영   1  여자  90   92  81  95  89.50  358   합격
석영   1  남자  91   90  89  80  87.50  350   합격

### #03.조건별 파생 변수
- if else : 표현식을 사용한 평균값에 따른 조건부 파생 변수

In [ ]:
#디폴트 값 불합격을 설정해두고 80점이 넘은 경우에만 합격으로 입력되도록
df4['결과2']='불합격'
df4.loc[df4['평균']>=80,'결과2']='합격'
df4

    학년  성별  국어   영어  수학  과학     평균   합계  결과1  결과2
이름
철수   1  남자  98   77  88  64  81.75  327   합격   합격
영희   2  여자  88  120  62  72  85.50  342   합격   합격
민철   1  남자  92   70  83  79  81.00  324   합격   합격
수현   3  여자  63   60  31  71  56.25  225  불합격  불합격
호영   4  남자  75   50  90  88  75.75  303  불합격  불합격
영호   4  남자  80   88  91  72  82.75  331   합격   합격
용식   2  남자  82   88  79  90  84.75  339   합격   합격
나영   1  여자  90   92  81  95  89.50  358   합격   합격
석영   1  남자  91   90  89  80  87.50  350   합격   합격

### #03.조건별 파생 변수
- elif : NumPy 의 select 함수 사용

In [ ]:
# 학점을 부여하기 위한 점수의 구간을 설정하는 조건들을 리스트로 설정
conditions = [
    (df4['평균'] >= 90),   # if
    (df4['평균'] >= 80),   # elif
    (df4['평균'] >= 70)    # elif
]

# 조건에 따라 부여될 학점
value = ['A', 'B', 'C']

#conditions 조건을 확인한 다음, 그 조건에 따라 각각 value 값을 할당하고, 기본 값은 F 로 설정
df4['학점1'] = np.select(conditions, value, default='F')

df4

    학년  성별  국어   영어  수학  과학     평균   합계  결과1  결과2 학점1
이름
철수   1  남자  98   77  88  64  81.75  327   합격   합격   B
영희   2  여자  88  120  62  72  85.50  342   합격   합격   B
민철   1  남자  92   70  83  79  81.00  324   합격   합격   B
수현   3  여자  63   60  31  71  56.25  225  불합격  불합격   F
호영   4  남자  75   50  90  88  75.75  303  불합격  불합격   C
영호   4  남자  80   88  91  72  82.75  331   합격   합격   B
용식   2  남자  82   88  79  90  84.75  339   합격   합격   B
나영   1  여자  90   92  81  95  89.50  358   합격   합격   B
석영   1  남자  91   90  89  80  87.50  350   합격   합격   B

### #03.조건별 파생 변수
- 사용자 정의 함수 사용 : 함수 정의하기
- 정의한 함수 리턴값으로 파생변수 추가하기

In [15]:
def getScore(x):
  if x>= 90:
    score ='A'
  elif x>= 80:
    score = 'B'
  elif x>= 70:
    score = 'C'
  else :
    score = 'F'


  return score

In [ ]:

#학점 2 라는 컬럼을 새로 만들 것인데, df4 에 있는 평균 컬럼에 getScore 함수를 적용한 값들을 출력합니다
df4['학점2']=df4['평균'].apply(getScore)
df4

    학년  성별  국어   영어  수학  과학     평균   합계  결과1  결과2 학점1 학점2
이름
철수   1  남자  98   77  88  64  81.75  327   합격   합격   B   B
영희   2  여자  88  120  62  72  85.50  342   합격   합격   B   B
민철   1  남자  92   70  83  79  81.00  324   합격   합격   B   B
수현   3  여자  63   60  31  71  56.25  225  불합격  불합격   F   F
호영   4  남자  75   50  90  88  75.75  303  불합격  불합격   C   C
영호   4  남자  80   88  91  72  82.75  331   합격   합격   B   B
용식   2  남자  82   88  79  90  84.75  339   합격   합격   B   B
나영   1  여자  90   92  81  95  89.50  358   합격   합격   B   B
석영   1  남자  91   90  89  80  87.50  350   합격   합격   B   B

### #03.조건별 파생 변수
- 함수 정의 없이 람다식으로 익명 함수 적용하기

In [18]:
df4['학점3'] = df4['평균'].apply(lambda x: {10:'A',9:'A',8:'B',7:'C'}.get(x//10,'F'))
df4

    학년  성별  국어   영어  수학  과학     평균   합계  결과1  결과2 학점1 학점2 학점3
이름
철수   1  남자  98   77  88  64  81.75  327   합격   합격   B   B   B
영희   2  여자  88  120  62  72  85.50  342   합격   합격   B   B   B
민철   1  남자  92   70  83  79  81.00  324   합격   합격   B   B   B
수현   3  여자  63   60  31  71  56.25  225  불합격  불합격   F   F   F
호영   4  남자  75   50  90  88  75.75  303  불합격  불합격   C   C   C
영호   4  남자  80   88  91  72  82.75  331   합격   합격   B   B   B
용식   2  남자  82   88  79  90  84.75  339   합격   합격   B   B   B
나영   1  여자  90   92  81  95  89.50  358   합격   합격   B   B   B
석영   1  남자  91   90  89  80  87.50  350   합격   합격   B   B   B

### #03.조건별 파생 변수
-map() 함수 사용 : 값이 완전 일치하는 경우에만 활용 가능

In [20]:
df4['성별코드']=df4['성별'].map({'남자':'M','여자':'F'})
df4

    학년  성별  국어   영어  수학  과학     평균   합계  결과1  결과2 학점1 학점2 학점3 성별코드
이름
철수   1  남자  98   77  88  64  81.75  327   합격   합격   B   B   B    M
영희   2  여자  88  120  62  72  85.50  342   합격   합격   B   B   B    F
민철   1  남자  92   70  83  79  81.00  324   합격   합격   B   B   B    M
수현   3  여자  63   60  31  71  56.25  225  불합격  불합격   F   F   F    F
호영   4  남자  75   50  90  88  75.75  303  불합격  불합격   C   C   C    M
영호   4  남자  80   88  91  72  82.75  331   합격   합격   B   B   B    M
용식   2  남자  82   88  79  90  84.75  339   합격   합격   B   B   B    M
나영   1  여자  90   92  81  95  89.50  358   합격   합격   B   B   B    F
석영   1  남자  91   90  89  80  87.50  350   합격   합격   B   B   B    M