# LAB 05 - Data preprocessing 3

## 01 데이터 재구조화

<연습 문제1>
students_smoke 데이터셋은 한 도시의 20개 중·고교를 대상으로 조사한 흡연율 자료이다.

도시와 농촌별에 따른 남녀 평균 흡연율을 확인할 수 있는 데이터 피벗 테이블로 구성하시오.

- PPT에 제시되는 표는 간략히 표시한 데이터입니다. 실제 데이터는 직접 코드 상에서 확인하세요

In [1]:
#패키지 참조
from hossam import load_data
from pandas import pivot_table , melt

In [4]:
students_smoke = load_data('students_smoke')
students_smoke

[data] https://data.hossam.kr/data/lab05/students_smoke.xlsx
[desc] 한 도시의 20개 중,고교를 대상으로 조사한 흡연율 자료 (인덱스와 메타데이터 없음)
[!] Cannot read metadata

    지역  구성   흡연율
0   도시   남  0.64
1   도시   여  0.45
2   농촌  공학  0.70
3   도시   남  0.85
4   농촌   남  0.72
5   도시   남  0.78
6   도시   여  0.62
7   도시   남  0.79
8   농촌   남  0.75
9   농촌  공학  0.81
10  농촌   여  0.56
11  도시   여  0.48
12  농촌   남  0.72
13  도시  공학  0.68
14  농촌   남  0.79
15  도시   남  0.90
16  농촌   여  0.34
17  도시   여  0.48
18  농촌   여  0.49
19  농촌  공학  0.76

In [7]:
pivot_df=pivot_table(students_smoke, index = '지역',columns='구성',values='흡연율',aggfunc='mean')

pivot_df

구성        공학      남         여
지역
농촌  0.756667  0.745  0.463333
도시  0.680000  0.792  0.507500

<연습 문제2>
당신은 최근 동네에 새로 생긴 ‘달콤스쿱’ 아이스크림 가게의 데이터 분석을 의뢰받았습니다.

◎ 사장님은 여름 시즌을 맞아 어떤 맛 아이스크림이 인기가 많은지,
날짜별 판매 추이는 어떤지 궁금해하며,
효율적인 재고 관리를 위한 데이터 분석을 당신에게 요청했습니다.

◎ 당신에게 주어진 icecream_sales 데이터셋을 사용하여 다음 과제를 완수하세요.



1. 데이터의 전체적인 구조와 정보를 확인하고, 판매 수량에 결측치가 있는지 확인하세요.

만약 결측치가 있다면, 해당 행을 제거하세요.

2. 판매 날짜를 인덱스로, 아이스크림 맛을 컬럼으로 하여
각 맛의 일별 판매량을 보여주는 피벗 테이블을 만드세요.

3. 사장님이 다른 분석 툴에서 사용하고 싶다며,

위에서 만든 피벗 테이블을 다시 긴 형식(Long format) 의 데이터로 변환해 달라고 요청했습니다.
이때 컬럼 이름은 원본 이름을 그대로 유지해야 합니다.

In [11]:
icecream_sales = load_data('icecream_sales')
icecream_sales

[data] https://data.hossam.kr/data/lab05/icecream_sales.xlsx
[desc] '달콤 스쿱' 아이스크림 가게의 매출 데이터 (인덱스 없음)

field     description
--------  -------------
Date      판매 날짜
Flavor    아이스크림 맛
Topping   추가된 토핑
Price     개당 가격
Quantity  판매 수량

         Date Flavor Topping  Price  Quantity
0  2023-07-01    초콜릿     아몬드   3500      20.0
1  2023-07-01    바닐라    초코시럽   3000      25.0
2  2023-07-01     딸기      연유   3200      18.0
3  2023-07-02   민트초코     초코칩   3800      15.0
4  2023-07-02    초콜릿     아몬드   3500      22.0
5  2023-07-02    바닐라     NaN   3000      30.0
6  2023-07-03     딸기      연유   3200      25.0
7  2023-07-03   민트초코     초코칩   3800       NaN
8  2023-07-03    바닐라    초코시럽   3000      28.0
9  2023-07-04    초콜릿     아몬드   3500      18.0
10 2023-07-04     딸기      연유   3200      22.0
11 2023-07-04   민트초코     초코칩   3800      17.0

In [15]:
#데이터의 전체적인 구조와 정보를 확인하고, 판매 수량에 결측치가 있는지 확인하세요. 결측치는 제거하세요
icecream_sales_copy1=icecream_sales.copy()
icecream_sales_copy1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      12 non-null     datetime64[ns]
 1   Flavor    12 non-null     object
 2   Topping   11 non-null     object
 3   Price     12 non-null     int64
 4   Quantity  11 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 612.0+ bytes

In [19]:
rows,cols = icecream_sales_copy1.shape
print(f'{rows} 행, {cols} 열,{icecream_sales_copy1.ndim} 차원의 데이터 ' )

12 행, 5 열,2 차원의 데이터

In [34]:
#nan 행 삭제
icecream_sales_copy2_행삭제 = icecream_sales_copy1.copy()

icecream_sales_copy2_행삭제결과 = icecream_sales_copy2_행삭제.dropna(subset=['Quantity'])
icecream_sales_copy2_행삭제결과

         Date Flavor Topping  Price  Quantity
0  2023-07-01    초콜릿     아몬드   3500      20.0
1  2023-07-01    바닐라    초코시럽   3000      25.0
2  2023-07-01     딸기      연유   3200      18.0
3  2023-07-02   민트초코     초코칩   3800      15.0
4  2023-07-02    초콜릿     아몬드   3500      22.0
5  2023-07-02    바닐라     NaN   3000      30.0
6  2023-07-03     딸기      연유   3200      25.0
8  2023-07-03    바닐라    초코시럽   3000      28.0
9  2023-07-04    초콜릿     아몬드   3500      18.0
10 2023-07-04     딸기      연유   3200      22.0
11 2023-07-04   민트초코     초코칩   3800      17.0

In [35]:
# #2. 판매 날짜를 인덱스로, 아이스크림 맛을 컬럼으로 하여
# 각 맛의 일별 판매량을 보여주는 피벗 테이블을 만드세요.


icecream_pivot = pivot_table(icecream_sales_copy2_행삭제결과,index='Date',columns='Flavor',values='Quantity')
icecream_pivot

Flavor        딸기  민트초코   바닐라   초콜릿
Date
2023-07-01  18.0   NaN  25.0  20.0
2023-07-02   NaN  15.0  30.0  22.0
2023-07-03  25.0   NaN  28.0   NaN
2023-07-04  22.0  17.0   NaN  18.0

In [31]:

# 3. 사장님이 다른 분석 툴에서 사용하고 싶다며,

# 위에서 만든 피벗 테이블을 다시 긴 형식(Long format) 의 데이터로 변환해 달라고 요청했습니다.
# 이때 컬럼 이름은 원본 이름을 그대로 유지해야 합니다.

#1단계 > 데이터 프레임으 인덱스를 일반 컬럼으로 설정한다

icecream_pivot_copy=icecream_pivot.copy()

icecream_pivot_copy_2 = icecream_pivot_copy.reset_index()
icecream_pivot_copy_2

Flavor       Date    딸기  민트초코   바닐라   초콜릿
0      2023-07-01  18.0   NaN  25.0  20.0
1      2023-07-02   NaN  15.0   NaN  22.0
2      2023-07-03  25.0   NaN  28.0   NaN
3      2023-07-04  22.0  17.0   NaN  18.0

In [33]:
mdf = melt(icecream_pivot_copy_2,id_vars=['Date'],value_vars=['딸기','민트초코','바닐라','초콜릿'],var_name='Flavor',value_name='Quantity')

mdf

         Date Flavor  Quantity
0  2023-07-01     딸기      18.0
1  2023-07-02     딸기       NaN
2  2023-07-03     딸기      25.0
3  2023-07-04     딸기      22.0
4  2023-07-01   민트초코       NaN
5  2023-07-02   민트초코      15.0
6  2023-07-03   민트초코       NaN
7  2023-07-04   민트초코      17.0
8  2023-07-01    바닐라      25.0
9  2023-07-02    바닐라       NaN
10 2023-07-03    바닐라      28.0
11 2023-07-04    바닐라       NaN
12 2023-07-01    초콜릿      20.0
13 2023-07-02    초콜릿      22.0
14 2023-07-03    초콜릿       NaN
15 2023-07-04    초콜릿      18.0