# LAB 05 - Data preprocessing 3

## 04 명목형 변수 인코딩

<연습문제>
□ 한 온라인 스토어의 마케팅 팀이 연말 특별 프로모션을 기획하고 있습니다.

프로모션의 효과를 극대화하기 위해, 고객 데이터를 분석하여 타겟 고객층을 식별하고자 합니다.

여러분은 데이터 분석가로서 마케팅 팀의 의사결정을 돕기 위해 고객 데이터를 전처리하고 분석용 데이터셋을 만드는 임무를 맡았습니다.

□ 주어지는 데이터 셋

online_store_customers : 고객의 기본 인구 통계 정보 (고객ID, 성별, 나이, 거주 도시, 멤버십 등급)

online_store_purchases : 고객의 구매 관련 정보 (고객ID, 마지막 구매일, 총 소비 금액, 이탈 여부)


해야 할 작업

1. 두 데이터를 불러와서 고객 ID를 기준으로 병합하세요.

2. 구매 데이터의 size 열에 존재하는 결측치는, 가장 빈도가 높은 사이즈로 채워주세요.

3. 성별에 따른 구매 패턴을 분석하기 위해 gender 열에 대해 더미 변수를 생성하세요.

4. 색상 선호도를 분석하기 위해 color 열을 원-핫 인코딩(One-hot encoding) 방식으로 변환하여 새로운 열들을 추가하세요.

In [22]:
from hossam import load_data
from pandas import DataFrame, get_dummies, merge
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import (
    MinMaxScaler, MaxAbsScaler, StandardScaler,
    RobustScaler, Normalizer
)

In [64]:
online_store_customers =load_data('online_store_customers')
online_store_customers

[data] https://data.hossam.kr/data/lab05/online_store_customers.xlsx
[desc] 한 온라인 스토어의 마케팅 팀이 연말 특별 프로모션을 기획에 필요한 고객의 기본 인구 통계 정보(메타데이터 없음)
[!] Cannot read metadata

            name gender  age
user_id
1          Alice      F   25
2            Bob      M   30
3        Charlie      M   35
4          David      M   42
5            Eve      F   28
6          Frank      M   21
7          Grace      F   33
8          Henry      M   45
9            Ivy      F   29
10          Jack      M   38

In [24]:
online_store_purchases = load_data('online_store_purchases')
online_store_purchases

[data] https://data.hossam.kr/data/lab05/online_store_purchases.xlsx
[desc] 한 온라인 스토어의 마케팅 팀이 연말 특별 프로모션을 기획에 필요한 고객의 구매 관련 정보(메타데이터 없음)
[!] Cannot read metadata

             user_id  product size  color  price
purchase_id
101                1  T-shirt    M  White  15000
102                2    Pants    L  Black  35000
103                1    Skirt    S    Red  25000
104                3  T-shirt    L   Blue  17000
105                5   Jacket    M  Black  55000
106                4    Pants    M  Khaki  33000
107                6  T-shirt    S  White  16000
108                7   Jacket  NaN    Red  58000
109                8    Pants    L  Black  38000
110                9    Skirt    S   Blue  27000
111               10  T-shirt   XL  White  18000
112                5    Pants    S  Khaki  32000
113                2   Jacket    L   Navy  62000
114                7  T-shirt    M  Black  19000
115                1    Pants    S   Blue  31000

In [27]:
# step 1 : index 와 컬럼을 기준으로 병합한다
merged_df = merge (online_store_customers,online_store_purchases,left_index=True,right_on="user_id")
merged_df

                name gender  age  user_id  product size  color  price
purchase_id
101            Alice      F   25        1  T-shirt    M  White  15000
103            Alice      F   25        1    Skirt    S    Red  25000
115            Alice      F   25        1    Pants    S   Blue  31000
102              Bob      M   30        2    Pants    L  Black  35000
113              Bob      M   30        2   Jacket    L   Navy  62000
104          Charlie      M   35        3  T-shirt    L   Blue  17000
106            David      M   42        4    Pants    M  Khaki  33000
105              Eve      F   28        5   Jacket    M  Black  55000
112              Eve      F   28        5    Pants    S  Khaki  32000
107            Frank      M   21        6  T-shirt    S  White  16000
108            Grace      F   33        7   Jacket  NaN    Red  58000
114            Grace      F   33        7  T-shirt    M  Black  19000
109            Henry      M   45        8    Pants    L  Black  38000
110              Ivy      F   29        9    Skirt    S   Blue  27000
111             Jack      M   38       10  T-shirt   XL  White  18000

In [49]:
# step 2 : size 의 결측치는 가장 빈도가 높은 사이즈로 채워주세요

most_frequent_size = merged_df['size'].mode()

merged_df_copy=merged_df.copy()

#most_frequent_size 가 SERIES 이기 떄문에 인덱스 번호를 붙여줘야한다
merged_df_copy['size'] = merged_df_copy['size'].fillna(value=most_frequent_size[0])
merged_df_copy

                name gender  age  user_id  product size  color  price
purchase_id
101            Alice      F   25        1  T-shirt    M  White  15000
103            Alice      F   25        1    Skirt    S    Red  25000
115            Alice      F   25        1    Pants    S   Blue  31000
102              Bob      M   30        2    Pants    L  Black  35000
113              Bob      M   30        2   Jacket    L   Navy  62000
104          Charlie      M   35        3  T-shirt    L   Blue  17000
106            David      M   42        4    Pants    M  Khaki  33000
105              Eve      F   28        5   Jacket    M  Black  55000
112              Eve      F   28        5    Pants    S  Khaki  32000
107            Frank      M   21        6  T-shirt    S  White  16000
108            Grace      F   33        7   Jacket    S    Red  58000
114            Grace      F   33        7  T-shirt    M  Black  19000
109            Henry      M   45        8    Pants    L  Black  38000
110              Ivy      F   29        9    Skirt    S   Blue  27000
111             Jack      M   38       10  T-shirt   XL  White  18000

In [53]:
# step 3. 성별에 따른 구매 패턴을 분석하기 위해 gender 열에 대해 더비 변수를 생성하세요

merged_df_copy2 = merged_df_copy.copy()

merged_df_copy3=get_dummies(merged_df_copy2, columns=['gender'],dtype='int',drop_first=True)

merged_df_copy3

                name  age  user_id  product size  color  price  gender_M
purchase_id
101            Alice   25        1  T-shirt    M  White  15000         0
103            Alice   25        1    Skirt    S    Red  25000         0
115            Alice   25        1    Pants    S   Blue  31000         0
102              Bob   30        2    Pants    L  Black  35000         1
113              Bob   30        2   Jacket    L   Navy  62000         1
104          Charlie   35        3  T-shirt    L   Blue  17000         1
106            David   42        4    Pants    M  Khaki  33000         1
105              Eve   28        5   Jacket    M  Black  55000         0
112              Eve   28        5    Pants    S  Khaki  32000         0
107            Frank   21        6  T-shirt    S  White  16000         1
108            Grace   33        7   Jacket    S    Red  58000         0
114            Grace   33        7  T-shirt    M  Black  19000         0
109            Henry   45        8    Pants    L  Black  38000         1
110              Ivy   29        9    Skirt    S   Blue  27000         0
111             Jack   38       10  T-shirt   XL  White  18000         1

In [55]:
# step 4. 색상 선호도를 분석하기 위해 color 열을 원핫 인코딩 방식으로 변환하여 새로운 열들을 추가하세요

# 4-1 인코딩 처리할 명목형 변수의 차원 변환을 수행하여 데이터 프레임을 유지한다

X=merged_df_copy3['color'].values.reshape(-1,1)
X

array([['White'],
       ['Red'],
       ['Blue'],
       ['Black'],
       ['Navy'],
       ['Blue'],
       ['Khaki'],
       ['Black'],
       ['Khaki'],
       ['White'],
       ['Red'],
       ['Black'],
       ['Black'],
       ['Blue'],
       ['White']], dtype=object)

In [57]:
# 4-2 원핫 인코딩 처리
encoder = OneHotEncoder(sparse_output=False , drop = None)
result=encoder.fit_transform(X)
result

array([[0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1., 0.],
       [0., 1., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 1., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.]])

In [ ]:
# 4-3 인코딩 결과를 데이터 프레임으로 생성
#컬럼명 생성

new_cols = encoder.get_feature_names_out(['color'])
new_cols

array(['color_Black', 'color_Blue', 'color_Khaki', 'color_Navy',
       'color_Red', 'color_White'], dtype=object)

In [61]:
#DataFrame 병합
one_hot_df = DataFrame(result,columns=new_cols,index=merged_df_copy3.index)
one_hot_df.head()

,color_Black,color_Blue,color_Khaki,color_Navy,color_Red,color_White
purchase_id,,,,,,
101,0.0,0.0,0.0,0.0,0.0,1.0
103,0.0,0.0,0.0,0.0,1.0,0.0
115,0.0,1.0,0.0,0.0,0.0,0.0
102,1.0,0.0,0.0,0.0,0.0,0.0
113,0.0,0.0,0.0,1.0,0.0,0.0

In [63]:
merged_df_copy4=merged_df_copy3.copy()


result_df = merge(merged_df_copy4,one_hot_df,left_index=True,right_index=True,how='left')
result_df

,name,age,user_id,product,size,color,price,gender_M,color_Black,color_Blue,color_Khaki,color_Navy,color_Red,color_White
purchase_id,,,,,,,,,,,,,,
101,Alice,25,1,T-shirt,M,White,15000,0,0.0,0.0,0.0,0.0,0.0,1.0
103,Alice,25,1,Skirt,S,Red,25000,0,0.0,0.0,0.0,0.0,1.0,0.0
115,Alice,25,1,Pants,S,Blue,31000,0,0.0,1.0,0.0,0.0,0.0,0.0
102,Bob,30,2,Pants,L,Black,35000,1,1.0,0.0,0.0,0.0,0.0,0.0
113,Bob,30,2,Jacket,L,Navy,62000,1,0.0,0.0,0.0,1.0,0.0,0.0
104,Charlie,35,3,T-shirt,L,Blue,17000,1,0.0,1.0,0.0,0.0,0.0,0.0
106,David,42,4,Pants,M,Khaki,33000,1,0.0,0.0,1.0,0.0,0.0,0.0
105,Eve,28,5,Jacket,M,Black,55000,0,1.0,0.0,0.0,0.0,0.0,0.0
112,Eve,28,5,Pants,S,Khaki,32000,0,0.0,0.0,1.0,0.0,0.0,0.0
107,Frank,21,6,T-shirt,S,White,16000,1,0.0,0.0,0.0,0.0,0.0,1.0
108,Grace,33,7,Jacket,S,Red,58000,0,0.0,0.0,0.0,0.0,1.0,0.0
114,Grace,33,7,T-shirt,M,Black,19000,0,1.0,0.0,0.0,0.0,0.0,0.0
109,Henry,45,8,Pants,L,Black,38000,1,1.0,0.0,0.0,0.0,0.0,0.0
110,Ivy,29,9,Skirt,S,Blue,27000,0,0.0,1.0,0.0,0.0,0.0,0.0
111,Jack,38,10,T-shirt,XL,White,18000,1,0.0,0.0,0.0,0.0,0.0,1.0