# LAB 05 - Data preprocessing 3

## 05 Ïä§ÏºÄÏùºÎßÅ


üß™ Ïó∞ÏäµÎ¨∏Ï†ú ‚Äî üöÄ ÏßÅÏõê ÏÑ±Í≥º Î∂ÑÏÑùÏùÑ ÏúÑÌïú Îç∞Ïù¥ÌÑ∞ Ïä§ÏºÄÏùºÎßÅ
- Ìïú ÌöåÏÇ¨Ïùò Ïù∏ÏÇ¨ÌåÄÏóêÏÑúÎäî ÏßÅÏõêÎì§Ïùò ÏÑ±Í≥ºÎ•º Í≥µÏ†ïÌïòÍ≤å ÌèâÍ∞ÄÌïòÍ≥† ÎπÑÍµêÌïòÍ∏∞ ÏúÑÌïú ÏãúÏä§ÌÖúÏùÑ Íµ¨Ï∂ïÌïòÍ≥† ÏûàÏäµÎãàÎã§.

-  Í∞Å ÏßÅÏõêÏùò ÏÑ±Í≥º ÏßÄÌëú(Ïòà: ÏõîÎ≥Ñ Îß§Ï∂ú, Í≥†Í∞ù ÎßåÏ°±ÎèÑ, ÌîÑÎ°úÏ†ùÌä∏ Ìà¨ÏûÖ ÏãúÍ∞Ñ Îì±)Îäî Ï∏°Ï†ï Îã®ÏúÑÏôÄ Î≤îÏúÑÍ∞Ä ÏÑúÎ°ú Îã¨Îùº ÏßÅÏ†ë ÎπÑÍµêÌïòÍ∏∞ Ïñ¥Î†µÏäµÎãàÎã§. Îî∞ÎùºÏÑú
  
-  Ïù¥Îü¨Ìïú ÏßÄÌëúÎì§ÏùÑ ÎèôÏùºÌïú Í∏∞Ï§ÄÏúºÎ°ú Î≥ÄÌôòÌïòÏó¨, Î™®Îì† ÏßÅÏõêÏùò ÏÑ±Í≥ºÎ•º ÌïòÎÇòÏùò Ï≤ôÎèÑÎ°ú ÎπÑÍµê Î∞è Î∂ÑÏÑùÌï† Ïàò ÏûàÎèÑÎ°ù Îç∞Ïù¥ÌÑ∞ Ïä§ÏºÄÏùºÎßÅ Í∏∞Î≤ïÏù¥ ÌïÑÏöîÌï©ÎãàÎã§.

- Ïó¨Îü¨Î∂ÑÏùÄ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÍ∞ÄÎ°úÏÑú Ïù∏ÏÇ¨ÌåÄÏùÑ ÎèÑÏôÄ Îã§ÏñëÌïú ÏÑ±Í≥º ÏßÄÌëúÎì§ÏùÑ Ï†ÅÏ†àÌïú Ïä§ÏºÄÏùºÎßÅ Í∏∞Î≤ïÏùÑ ÏÇ¨Ïö©ÌïòÏó¨ ÌëúÏ§ÄÌôîÌïòÎäî ÏûëÏóÖÏùÑ ÏàòÌñâÌï¥Ïïº Ìï©ÎãàÎã§.

üìå performance Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ Îã§Ïùå Ïä§ÏºÄÏùºÎßÅ Í∏∞Î≤ïÎì§ÏùÑ Í∞Å Ïª¨ÎüºÏóê Ï†ÅÏö©ÌïòÏÑ∏Ïöî.

1. MonthlySales Ïª¨ÎüºÏóêÎäî Min-Max Ïä§ÏºÄÏùºÎßÅÏùÑ Ï†ÅÏö©ÌïòÏó¨ 0Í≥º 1 ÏÇ¨Ïù¥Ïùò Í∞íÏúºÎ°ú Î≥ÄÌôòÌïòÏÑ∏Ïöî.

2. CustomerSatisfaction Ïª¨ÎüºÏóêÎäî MaxAbs Ïä§ÏºÄÏùºÎßÅÏùÑ Ï†ÅÏö©ÌïòÏó¨ -1Í≥º 1 ÏÇ¨Ïù¥Ïùò Í∞íÏúºÎ°ú Î≥ÄÌôòÌïòÏÑ∏Ïöî.

3. ProjectHours ÏôÄ InnovationScore Ïª¨ÎüºÏóêÎäî Standard Ïä§ÏºÄÏùºÎßÅ(ÌëúÏ§ÄÌôî)ÏùÑ Ï†ÅÏö©ÌïòÏó¨ ÌèâÍ∑†Ïù¥ 0, ÌëúÏ§ÄÌé∏Ï∞®Í∞Ä 1Ïù∏ Í∞íÏúºÎ°ú Î≥ÄÌôòÌïòÏÑ∏Ïöî.

4. Î™®Îì† Ïä§ÏºÄÏùºÎßÅ Í≥ºÏ†ïÏù¥ ÎÅùÎÇú ÌõÑ, MonthlySales(Min-Max Ïä§ÏºÄÏùºÎßÅ), CustomerSatisfaction(MaxAbs Ïä§ÏºÄÏùºÎßÅ),
ProjectHours(Standard Ïä§ÏºÄÏùºÎßÅ), InnovationScore(Standard Ïä§ÏºÄÏùºÎßÅ) Ïª¨ÎüºÏùò Í∞íÏùÑ Î™®Îëê ÎçîÌñàÏùÑ Îïå,
Ìï©ÏÇ∞ Í∞íÏù¥ Í∞ÄÏû• ÎÜíÏùÄ ÏßÅÏõêÏùò EmployeeID Î•º Ï∞æÏïÑÏ£ºÏÑ∏Ïöî.

In [19]:
#ÎùºÏù¥Î∏åÎü¨Î¶¨ Ï∞∏Ï°∞
from hossam import load_data
from sklearn.preprocessing import MinMaxScaler,MaxAbsScaler,StandardScaler,RobustScaler
from pandas import merge
from pandas import DataFrame

In [3]:
performance = load_data('performance')
performance

[data] https://data.hossam.kr/data/lab05/performance.xlsx
[desc] ÏßÅÏõê ÏÑ±Í≥º ÏßÄÌëú Îç∞Ïù¥ÌÑ∞

field                 description
--------------------  -----------------
EmployeeID            ÏßÅÏõê ID
MonthlySales          ÏõîÎ≥Ñ Îß§Ï∂ú
CustomerSatisfaction  Í≥†Í∞ù ÎßåÏ°±ÎèÑ
ProjectHours          ÌîÑÎ°úÏ†ùÌä∏ ÏûëÏóÖÏãúÍ∞Ñ
InnovationScore       ÌòÅÏã† Ï†êÏàò

            MonthlySales  CustomerSatisfaction  ProjectHours  InnovationScore
EmployeeID
E001                 120                    75           160                8
E002                 250                    90           180                9
E003                  80                    60           150                6
E004                 180                    82           170                8
E005                 300                    95           190               10
E006                  90                    65           155                7
E007                 200                    88           175                9
E008                 110                    70           165                7
E009                 220                    85           185                9
E010                  70                    55           145                6
E011                 130                    78           162                8
E012                 280                    92           188               10
E013                  60                    50           140                5
E014                 190                    80           172                8
E015                 260                    91           183                9
E016                 100                    68           158                7
E017                 170                    83           168                8
E018                 320                    98           195               10
E019                  50                    45           135                5
E020                 240                    89           178                9

In [8]:
# 1. MonthlySales Ïª¨ÎüºÏóêÎäî Min-Max Ïä§ÏºÄÏùºÎßÅÏùÑ Ï†ÅÏö©ÌïòÏó¨ 0Í≥º 1 ÏÇ¨Ïù¥Ïùò Í∞íÏúºÎ°ú Î≥ÄÌôòÌïòÏÑ∏Ïöî.
minmax_df = performance.copy()

MS = minmax_df[['MonthlySales']]

#MonthlySales Ïóê Sklearn Ïä§ÏºÄÏùºÎßÅ Ï†ÅÏö©
scaler = MinMaxScaler()
minmax_df['MonthlySales_MinMax'] = scaler.fit_transform(MS)
minmax_df

,MonthlySales,CustomerSatisfaction,ProjectHours,InnovationScore,MonthlySales_MinMax
EmployeeID,,,,,
E001,120,75,160,8,0.259259
E002,250,90,180,9,0.740741
E003,80,60,150,6,0.111111
E004,180,82,170,8,0.481481
E005,300,95,190,10,0.925926
E006,90,65,155,7,0.148148
E007,200,88,175,9,0.555556
E008,110,70,165,7,0.222222
E009,220,85,185,9,0.629630
E010,70,55,145,6,0.074074
E011,130,78,162,8,0.296296
E012,280,92,188,10,0.851852
E013,60,50,140,5,0.037037
E014,190,80,172,8,0.518519
E015,260,91,183,9,0.777778
E016,100,68,158,7,0.185185
E017,170,83,168,8,0.444444
E018,320,98,195,10,1.000000
E019,50,45,135,5,0.000000
E020,240,89,178,9,0.703704

In [5]:
# 2. CustomerSatisfaction Ïª¨ÎüºÏóêÎäî MaxAbs Ïä§ÏºÄÏùºÎßÅÏùÑ Ï†ÅÏö©ÌïòÏó¨ -1Í≥º 1 ÏÇ¨Ïù¥Ïùò Í∞íÏúºÎ°ú Î≥ÄÌôòÌïòÏÑ∏Ïöî.

abs_df = performance.copy()

abs_scaler = MaxAbsScaler()
CS = abs_df[['CustomerSatisfaction']]
abs_df['CS_MaxAbs'] = scaler.fit_transform(CS)
abs_df

,MonthlySales,CustomerSatisfaction,ProjectHours,InnovationScore,CS_MaxAbs
EmployeeID,,,,,
E001,120,75,160,8,0.566038
E002,250,90,180,9,0.849057
E003,80,60,150,6,0.283019
E004,180,82,170,8,0.698113
E005,300,95,190,10,0.943396
E006,90,65,155,7,0.377358
E007,200,88,175,9,0.811321
E008,110,70,165,7,0.471698
E009,220,85,185,9,0.754717
E010,70,55,145,6,0.188679
E011,130,78,162,8,0.622642
E012,280,92,188,10,0.886792
E013,60,50,140,5,0.094340
E014,190,80,172,8,0.660377
E015,260,91,183,9,0.867925
E016,100,68,158,7,0.433962
E017,170,83,168,8,0.716981
E018,320,98,195,10,1.000000
E019,50,45,135,5,0.000000
E020,240,89,178,9,0.830189

In [6]:
# 3. ProjectHours ÏôÄ InnovationScore Ïª¨ÎüºÏóêÎäî Standard Ïä§ÏºÄÏùºÎßÅ(ÌëúÏ§ÄÌôî)ÏùÑ Ï†ÅÏö©ÌïòÏó¨ ÌèâÍ∑†Ïù¥ 0, ÌëúÏ§ÄÌé∏Ï∞®Í∞Ä 1Ïù∏ Í∞íÏúºÎ°ú Î≥ÄÌôòÌïòÏÑ∏Ïöî

std_df = performance.copy()

std_scaler = StandardScaler()
PH = std_df[['ProjectHours']]
IS = std_df[['InnovationScore']]


std_df['PH_STD'] = scaler.fit_transform(PH)
std_df['IS_STD'] = scaler.fit_transform(IS)

std_df

,MonthlySales,CustomerSatisfaction,ProjectHours,InnovationScore,PH_STD,IS_STD
EmployeeID,,,,,,
E001,120,75,160,8,0.416667,0.6
E002,250,90,180,9,0.750000,0.8
E003,80,60,150,6,0.250000,0.2
E004,180,82,170,8,0.583333,0.6
E005,300,95,190,10,0.916667,1.0
E006,90,65,155,7,0.333333,0.4
E007,200,88,175,9,0.666667,0.8
E008,110,70,165,7,0.500000,0.4
E009,220,85,185,9,0.833333,0.8
E010,70,55,145,6,0.166667,0.2
E011,130,78,162,8,0.450000,0.6
E012,280,92,188,10,0.883333,1.0
E013,60,50,140,5,0.083333,0.0
E014,190,80,172,8,0.616667,0.6
E015,260,91,183,9,0.800000,0.8
E016,100,68,158,7,0.383333,0.4
E017,170,83,168,8,0.550000,0.6
E018,320,98,195,10,1.000000,1.0
E019,50,45,135,5,0.000000,0.0
E020,240,89,178,9,0.716667,0.8

In [ ]:
#ÌïÑÏöîÌïú ÌñâÎì§Îßå ÌïÑÌÑ∞ÎßÅ

std_filtered= std_df.filter(['PH_STD','IS_STD'])
minmax_filtered=minmax_df.filter(['MonthlySales_MinMax'])
abs_filtered = abs_df.filter(['CS_MaxAbs'])

In [12]:
std_minmax_merged= merge(std_filtered,minmax_filtered,left_index=True,right_index=True)

total_merged= merge(std_minmax_merged,abs_filtered,left_index=True,right_index=True)
total_merged

              PH_STD  IS_STD  MonthlySales_MinMax  CS_MaxAbs
EmployeeID
E001        0.416667     0.6             0.259259   0.566038
E002        0.750000     0.8             0.740741   0.849057
E003        0.250000     0.2             0.111111   0.283019
E004        0.583333     0.6             0.481481   0.698113
E005        0.916667     1.0             0.925926   0.943396
E006        0.333333     0.4             0.148148   0.377358
E007        0.666667     0.8             0.555556   0.811321
E008        0.500000     0.4             0.222222   0.471698
E009        0.833333     0.8             0.629630   0.754717
E010        0.166667     0.2             0.074074   0.188679
E011        0.450000     0.6             0.296296   0.622642
E012        0.883333     1.0             0.851852   0.886792
E013        0.083333     0.0             0.037037   0.094340
E014        0.616667     0.6             0.518519   0.660377
E015        0.800000     0.8             0.777778   0.867925
E016        0.383333     0.4             0.185185   0.433962
E017        0.550000     0.6             0.444444   0.716981
E018        1.000000     1.0             1.000000   1.000000
E019        0.000000     0.0             0.000000   0.000000
E020        0.716667     0.8             0.703704   0.830189

In [27]:
a=DataFrame(total_merged.sum(axis=1))
b=a.rename(columns={0:'TotalScore'})
b

            TotalScore
EmployeeID
E001          1.841964
E002          3.139797
E003          0.844130
E004          2.362928
E005          3.785989
E006          1.258840
E007          2.833543
E008          1.593920
E009          3.017680
E010          0.629420
E011          1.968938
E012          3.621978
E013          0.214710
E014          2.395563
E015          3.245702
E016          1.402481
E017          2.311426
E018          4.000000
E019          0.000000
E020          3.050559

In [33]:
c=b.reset_index()
c

   EmployeeID  TotalScore
0        E001    1.841964
1        E002    3.139797
2        E003    0.844130
3        E004    2.362928
4        E005    3.785989
5        E006    1.258840
6        E007    2.833543
7        E008    1.593920
8        E009    3.017680
9        E010    0.629420
10       E011    1.968938
11       E012    3.621978
12       E013    0.214710
13       E014    2.395563
14       E015    3.245702
15       E016    1.402481
16       E017    2.311426
17       E018    4.000000
18       E019    0.000000
19       E020    3.050559

In [38]:
result = c.query('TotalScore==TotalScore.max()')
result

   EmployeeID  TotalScore
17       E018         4.0