# LAB 05 - Data preprocessing 3

## 02 ë°ì´í„° ì¬êµ¬ì¡°í™”

ğŸ“˜ ì—°ìŠµë¬¸ì œ â€” ê²Œì„ í† ë„ˆë¨¼íŠ¸ ìµœê³  ë“ì ìë¥¼ ì°¾ì•„ë¼!

game_scores ë°ì´í„°ì…‹ì€ ìµœê·¼ ì—´ë¦° ê²Œì„ í† ë„ˆë¨¼íŠ¸ì˜ ê²½ê¸° ê²°ê³¼ ë°ì´í„°ì…ë‹ˆë‹¤.

ë°ì´í„°ëŠ” ì„ ìˆ˜ ì´ë¦„(player) ê³¼ ê° ìŠ¤í…Œì´ì§€(stage1, stage2, stage3) ì ìˆ˜ë¡œ êµ¬ì„±ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

ì¼ë¶€ ì„ ìˆ˜ëŠ” íŠ¹ì • ìŠ¤í…Œì´ì§€ì— ì°¸ì—¬í•˜ì§€ ì•Šì•„ ì ìˆ˜ê°€ ë¹„ì–´ ìˆì„ ìˆ˜ ìˆìŠµë‹ˆë‹¤.

ëª¨ë“  ìŠ¤í…Œì´ì§€ì— ì°¸ì—¬í•œ ì„ ìˆ˜ë“¤ ì¤‘ì—ì„œ, í‰ê·  ì ìˆ˜ê°€ ê°€ì¥ ë†’ì€ **â€œìµœê³ ì˜ ì„ ìˆ˜â€**ë¥¼ ì°¾ì•„ë‚´ê³ ,
ê·¸ ì„ ìˆ˜ì˜ í‰ê·  ì ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

âœ”ï¸ ìš”êµ¬ì‚¬í•­
1. ê° ìŠ¤í…Œì´ì§€ ì ìˆ˜ê°€ ì—´ë¡œ êµ¬ì„±ëœ ë°ì´í„°ë¥¼,
ì„ ìˆ˜ì™€ ìŠ¤í…Œì´ì§€ ë ˆë²¨ì— ë”°ë¥¸ ì ìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” í˜•íƒœë¡œ ì¬êµ¬ì¡°í™”í•˜ì„¸ìš”.

ì¦‰, wide â†’ long í˜•íƒœë¡œ ë³€í™˜í•˜ì—¬
player, stage, score êµ¬ì¡°ë¡œ ë§Œë“œì„¸ìš”.

2. ìŠ¤í…Œì´ì§€ì— ëª¨ë‘ ì°¸ì—¬í•œ ì„ ìˆ˜ë§Œ ëŒ€ìƒìœ¼ë¡œ ë¶„ì„í•˜ì„¸ìš”.

(â†’ ê²°ì¸¡ì¹˜ê°€ ì—†ëŠ” ì„ ìˆ˜ë§Œ ë‚¨ê¸°ê¸°)

3. ì„ ìˆ˜ë³„ í‰ê·  ì ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

In [5]:
#íŒ¨í‚¤ì§€ ì°¸ì¡°
from hossam import load_data
from pandas import DataFrame

In [4]:
game_scores = load_data('game_scores')
game_scores

[data] https://data.hossam.kr/data/lab05/game_scores.xlsx
[desc] ìµœê·¼ ì—´ë¦° ê²Œì„ í† ë„ˆë¨¼íŠ¸ ê²½ê¸° ê²°ê³¼ ë°ì´í„° (ì¸ë±ìŠ¤ì™€ ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

    player  stage1  stage2  stage3
0    Alice      85    92.0    88.0
1      Bob      78     NaN    95.0
2  Charlie      90    88.0    91.0
3    David      82    85.0     NaN
4      Eva      95    98.0    99.0

In [9]:
# âœ”ï¸ ìš”êµ¬ì‚¬í•­
# 1. ê° ìŠ¤í…Œì´ì§€ ì ìˆ˜ê°€ ì—´ë¡œ êµ¬ì„±ëœ ë°ì´í„°ë¥¼,
# ì„ ìˆ˜ì™€ ìŠ¤í…Œì´ì§€ ë ˆë²¨ì— ë”°ë¥¸ ì ìˆ˜ë¥¼ ë‚˜íƒ€ë‚´ëŠ” í˜•íƒœë¡œ ì¬êµ¬ì¡°í™”í•˜ì„¸ìš”.

# ì¦‰, wide â†’ long í˜•íƒœë¡œ ë³€í™˜í•˜ì—¬
# player, stage, score êµ¬ì¡°ë¡œ ë§Œë“œì„¸ìš”.

# 2. ìŠ¤í…Œì´ì§€ì— ëª¨ë‘ ì°¸ì—¬í•œ ì„ ìˆ˜ë§Œ ëŒ€ìƒìœ¼ë¡œ ë¶„ì„í•˜ì„¸ìš”.

# (â†’ ê²°ì¸¡ì¹˜ê°€ ì—†ëŠ” ì„ ìˆ˜ë§Œ ë‚¨ê¸°ê¸°)

# 3. ì„ ìˆ˜ë³„ í‰ê·  ì ìˆ˜ë¥¼ ê³„ì‚°í•˜ì„¸ìš”.

game_scores_copy = game_scores.copy()

game_scores_copy2=game_scores_copy.set_index('player')
game_scores_copy2

         stage1  stage2  stage3
player
Alice        85    92.0    88.0
Bob          78     NaN    95.0
Charlie      90    88.0    91.0
David        82    85.0     NaN
Eva          95    98.0    99.0

In [ ]:
#ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì„ ìˆ˜ í–‰ ì§€ìš°ê¸°
game_scores_copy3=game_scores_copy2.copy()
game_scores_copy4=game_scores_copy3.dropna()
game_scores_copy4

         stage1  stage2  stage3
player
Alice        85    92.0    88.0
Charlie      90    88.0    91.0
Eva          95    98.0    99.0

In [ ]:
#ê²°ì¸¡ì¹˜ê°€ ì—†ëŠ” ì„ ìˆ˜ë“¤ì— ëŒ€í•´ì„œ stack
df = DataFrame(game_scores_copy4.stack())
df

                   0
player
Alice   stage1  85.0
        stage2  92.0
        stage3  88.0
Charlie stage1  90.0
        stage2  88.0
        stage3  91.0
Eva     stage1  95.0
        stage2  98.0
        stage3  99.0

In [18]:
game_scores_copy4.unstack()
game_scores_copy4

         stage1  stage2  stage3
player
Alice        85    92.0    88.0
Charlie      90    88.0    91.0
Eva          95    98.0    99.0

In [22]:
df3=DataFrame(game_scores_copy4.mean(axis=1))
df3

                 0
player
Alice    88.333333
Charlie  89.666667
Eva      97.333333