# LAB 05 - Data preprocessing 3

## 03 ÌååÏÉùÎ≥ÄÏàò

<Ïó∞ÏäµÎ¨∏Ï†ú>
üöÄ Ïö∞Ïàò Í≥†Í∞ùÏùÑ Ï∞æÏïÑÎùº! - ÏòÅÏóÖ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Ï±åÎ¶∞ÏßÄ

- Ìïú Ïò®ÎùºÏù∏ ÏáºÌïëÎ™∞Ïùò ÎßàÏºÄÌåÖÌåÄÏùÄ Ïó∞ÎßêÏùÑ ÎßûÏïÑ Ïö∞Ïàò Í≥†Í∞ùÏóêÍ≤å Í∞êÏÇ¨Ïùò ÏÑ†Î¨ºÏùÑ Î≥¥ÎÇ¥Í∏∞Î°ú ÌñàÏäµÎãàÎã§.

-  ÌåÄÏùÄ ÏµúÍ∑ºÏùò Ï£ºÎ¨∏ Îç∞Ïù¥ÌÑ∞Ïù∏ online_shop_salesÎ•º Í∞ÄÏßÄÍ≥† ÏûàÏßÄÎßå,
Ïñ¥Îñ§ Í≥†Í∞ùÏù¥ Í∞ÄÏû• ÎßéÏùÄ Í∏àÏï°ÏùÑ ÏßÄÏ∂úÌñàÎäîÏßÄ ÌïúÎààÏóê ÌååÏïÖÌïòÍ∏∞ Ïñ¥Î†µÏäµÎãàÎã§.

- Ïó¨Îü¨Î∂ÑÏùÄ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑùÍ∞ÄÍ∞Ä ÎêòÏñ¥ ÎßàÏºÄÌåÖÌåÄÏùò ÏùòÏÇ¨Í≤∞Ï†ïÏùÑ ÎèÑÏôÄÏïº Ìï©ÎãàÎã§.
Ï†úÍ≥µÎêú Îç∞Ïù¥ÌÑ∞Î•º Î∂ÑÏÑùÌïòÏó¨ Í∞ÄÏû• Í∞ÄÏπò ÏûàÎäî Í≥†Í∞ùÏùÑ Ï∞æÏïÑÏ£ºÏÑ∏Ïöî!

üìå ÏöîÍµ¨ÏÇ¨Ìï≠
1. Í∞Å Í≥†Í∞ù(UserID)Î≥Ñ Ï¥ù Íµ¨Îß§ Í∏àÏï°(Total) ÏùÑ Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.

Ï¥ù Íµ¨Îß§ Í∏àÏï°ÏùÄ Í∞úÎ≥Ñ Ï£ºÎ¨∏Ïùò Price √ó Quantity Í∞íÏùÑ Î™®Îëê ÎçîÌïú Í∏àÏï°ÏûÖÎãàÎã§.

2. Ï¥ù Íµ¨Îß§ Í∏àÏï°Ïù¥ Í∞ÄÏû• ÎÜíÏùÄ ÏÉÅÏúÑ 2Î™ÖÏùò Í≥†Í∞ùÏùÑ Ï∞æÏïÑ,

**UserIDÏôÄ Ï¥ù Íµ¨Îß§ Í∏àÏï°**ÏùÑ Ï∂úÎ†•ÌïòÏÑ∏Ïöî.

3. ÏµúÏ¢Ö Í≤∞Í≥ºÎäî Ï¥ù Íµ¨Îß§ Í∏àÏï° Í∏∞Ï§Ä ÎÇ¥Î¶ºÏ∞®ÏàúÏúºÎ°ú Ï†ïÎ†¨ÌïòÏó¨ Ï†úÏãúÌïòÏÑ∏Ïöî.

In [1]:
#Ìå®ÌÇ§ÏßÄ Ï∞∏Ï°∞
from hossam import load_data
from pandas import DataFrame

In [2]:
online_shop_sales = load_data('online_shop_sales')
online_shop_sales

[data] https://data.hossam.kr/data/lab05/online_shop_sales.xlsx
[desc] Ïö∞Ïàò Í≥†Í∞ùÏùÑ Ï∞æÏïÑÎùº! - ÏòÅÏóÖ Îç∞Ïù¥ÌÑ∞ Î∂ÑÏÑù Ï±åÎ¶∞ÏßÄ

field      description
---------  ----------------
OrderID    Ï£ºÎ¨∏Î≤àÌò∏(Ïù∏Îç±Ïä§)
UserID     Í≥†Í∞ùÏïÑÏù¥Îîî
Product    ÏÉÅÌíà
Price      Í∞ÄÍ≤©
Quantity   Ï£ºÎ¨∏ÏàòÎüâ
OrderDate  Ï£ºÎ¨∏Ïùº

         UserID          Product  Price  Quantity  OrderDate
OrderID
1          1001           Laptop   1200         1 2024-10-01
2          1002            Mouse     25         2 2024-10-01
3          1001         Keyboard     75         1 2024-10-02
4          1003          Monitor    300         1 2024-10-03
5          1002           Webcam     50         1 2024-10-04
6          1003       HDMI Cable     15         3 2024-10-05
7          1001          USB Hub     30         2 2024-10-06
8          1004           Laptop   1300         1 2024-10-07
9          1002            Mouse     25         1 2024-10-08
10         1003          Monitor    300         2 2024-10-09
11         1001     External SSD    150         1 2024-10-10
12         1004  Docking Station    250         1 2024-10-11
13         1002         Keyboard     80         1 2024-10-12
14         1003           Webcam     55         1 2024-10-13
15         1001            Mouse     28         1 2024-10-14

In [4]:
#Í∞Å Í≥†Í∞ù(UserID)Î≥Ñ Ï¥ù Íµ¨Îß§ Í∏àÏï°(Total) ÏùÑ Í≥ÑÏÇ∞ÌïòÏÑ∏Ïöî.

# Ï¥ù Íµ¨Îß§ Í∏àÏï°ÏùÄ Í∞úÎ≥Ñ Ï£ºÎ¨∏Ïùò Price √ó Quantity Í∞íÏùÑ Î™®Îëê ÎçîÌïú Í∏àÏï°ÏûÖÎãàÎã§.
online_shop_sales_copy = online_shop_sales.copy()

online_shop_sales_copy['Total']=online_shop_sales_copy['Price']*online_shop_sales_copy['Quantity']

online_shop_sales_copy

         UserID          Product  Price  Quantity  OrderDate  Total
OrderID
1          1001           Laptop   1200         1 2024-10-01   1200
2          1002            Mouse     25         2 2024-10-01     50
3          1001         Keyboard     75         1 2024-10-02     75
4          1003          Monitor    300         1 2024-10-03    300
5          1002           Webcam     50         1 2024-10-04     50
6          1003       HDMI Cable     15         3 2024-10-05     45
7          1001          USB Hub     30         2 2024-10-06     60
8          1004           Laptop   1300         1 2024-10-07   1300
9          1002            Mouse     25         1 2024-10-08     25
10         1003          Monitor    300         2 2024-10-09    600
11         1001     External SSD    150         1 2024-10-10    150
12         1004  Docking Station    250         1 2024-10-11    250
13         1002         Keyboard     80         1 2024-10-12     80
14         1003           Webcam     55         1 2024-10-13     55
15         1001            Mouse     28         1 2024-10-14     28

In [11]:
online_shop_sales_copy2=online_shop_sales_copy.filter(['UserID','Total'])
online_shop_sales_copy2

         UserID  Total
OrderID
1          1001   1200
2          1002     50
3          1001     75
4          1003    300
5          1002     50
6          1003     45
7          1001     60
8          1004   1300
9          1002     25
10         1003    600
11         1001    150
12         1004    250
13         1002     80
14         1003     55
15         1001     28

In [14]:
#Í∞Å Í≥†Í∞ù ID Î≥Ñ Ï¥ù Íµ¨Îß§ Í∏àÏï°
online_shop_sales_copy3=online_shop_sales_copy2.groupby(['UserID']).sum()
online_shop_sales_copy3

        Total
UserID
1001     1513
1002      205
1003     1000
1004     1550

In [ ]:
# soflacktns wjdfuf
sorted= online_shop_sales_copy3.sort_values('Total',ascending=False)

sorted

        Total
UserID
1004     1550
1001     1513
1003     1000
1002      205

In [ ]:
#Ï¥ù Íµ¨Îß§ Í∏àÏï°Ïù¥ Í∞ÄÏû• ÎÜíÏùÄ 2Î™ÖÏùò Í≥†Í∞ù Ï∞æÍ∏∞
sorted.head(2)

        Total
UserID
1004     1550
1001     1513