# LAB 04 - Data preprocessing 2

## 01 í–‰ ê¸°ì¤€ ë³‘í•©

ğŸ“˜ ì—°ìŠµë¬¸ì œ â€” í©ì–´ì§„ íŒë§¤ ë°ì´í„° í†µí•©í•˜ê¸°

ë‹¹ì‹ ì€ IT ì‡¼í•‘ëª° â€˜Gemini Mallâ€™ì˜ ì‹ ì… ë°ì´í„° ë¶„ì„ê°€ì…ë‹ˆë‹¤.

íšŒì‚¬ì—ëŠ” ê°•ë‚¨ì ê³¼ ì¢…ë¡œì , ì´ ë‘ ê°œì˜ ì§€ì ì´ ìˆìŠµë‹ˆë‹¤.

ê° ì§€ì ì˜ íŒë§¤ ë°ì´í„°ê°€ shop_ê°•ë‚¨, shop_ì¢…ë¡œë¼ëŠ” ë³„ë„ì˜ ë°ì´í„°ë¡œ ê´€ë¦¬ë˜ê³  ìˆì—ˆìŠµë‹ˆë‹¤.

ì—°ë§ ë³´ê³ ì„œë¥¼ ìœ„í•´ ë‘ ì§€ì ì˜ ë°ì´í„°ë¥¼ í•˜ë‚˜ë¡œ í•©ì³ ì „ì²´ íŒë§¤ ì‹¤ì ì„ ë¶„ì„í•´ì•¼ í•©ë‹ˆë‹¤.
í•˜ì§€ë§Œ ë°ì´í„°ë¥¼ ì‚´í´ë³´ë‹ˆ ëª‡ ê°€ì§€ ì •ë¦¬í•´ì•¼ í•  ë¶€ë¶„ì´ ë³´ì…ë‹ˆë‹¤.

ë‹¹ì‹ ì˜ ì—…ë¬´ëŠ” ë°ì´í„°ë¥¼ ì •ì œí•˜ê³  í†µí•©í•˜ì—¬ ì˜ë¯¸ ìˆëŠ” ë¦¬í¬íŠ¸ë¥¼ ë§Œë“œëŠ” ê²ƒì…ë‹ˆë‹¤.

ğŸ“Œ ì²˜ë¦¬í•´ì•¼ í•  ì‘ì—…

- ê°•ë‚¨ì  ë°ì´í„°ì—ì„œ Mouse ìƒí’ˆì˜ ê°€ê²©(Price)ì´ ëˆ„ë½ë˜ì–´ ìˆìŠµë‹ˆë‹¤.
ì´ ê°’ì„ 8000ì›ìœ¼ë¡œ ì±„ì›Œì£¼ì„¸ìš”.

- ì¢…ë¡œì  ë°ì´í„°ì—ì„œ Keyboard ìƒí’ˆ ì£¼ë¬¸ ìˆ˜ëŸ‰(Quantity)ì´ 999ë¡œ ì˜ëª» ì…ë ¥ë˜ì–´ ìˆìŠµë‹ˆë‹¤.
ì‹¤ì œ ìˆ˜ëŸ‰ì€ 9ì´ë¯€ë¡œ, ì´ ê°’ì„ ìˆ˜ì •í•´ì£¼ì„¸ìš”.

- ë‘ ê°œì˜ DataFrameì„ í•˜ë‚˜ì˜ DataFrameìœ¼ë¡œ í–‰ ë°©í–¥ìœ¼ë¡œ í•©ì¹˜ì„¸ìš”.
ì´ ê³¼ì •ì—ì„œ ê¸°ì¡´ ì¸ë±ìŠ¤ëŠ” ì˜ë¯¸ê°€ ì—†ìœ¼ë¯€ë¡œ ìƒˆë¡œìš´ ì¸ë±ìŠ¤ë¥¼ ë¶€ì—¬í•˜ì„¸ìš”.

- í™”ë©´ì— ìµœì¢… DataFrameì˜ ì „ì²´ ë‚´ìš©ì„ ì¶œë ¥í•˜ì„¸ìš”.

In [32]:
from hossam import load_data
import numpy as np
from pandas import DataFrame
from pandas import merge
from pandas import concat
from pandas import CategoricalDtype
from sklearn.impute import SimpleImputer

In [ ]:
#ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

shop_ê°•ë‚¨ = load_data('shop_ê°•ë‚¨')
shop_ê°•ë‚¨

[data] https://data.hossam.kr/data/lab04/shop_ê°•ë‚¨.xlsx
[desc] í©ì–´ì§„ íŒë§¤ ë°ì´í„° í†µí•©í•˜ê¸°(ì¸ë±ìŠ¤/ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

  OrderID   Product  Quantity    Price
0    A001  Keyboard        10  15000.0
1    A002     Mouse        20      NaN
2    A003   Monitor         5  75000.0
3    A004  Keyboard        12  15000.0

In [4]:
shop_ì¢…ë¡œ = load_data('shop_ì¢…ë¡œ')
shop_ì¢…ë¡œ

[data] https://data.hossam.kr/data/lab04/shop_ì¢…ë¡œ.xlsx
[desc] í©ì–´ì§„ íŒë§¤ ë°ì´í„° í†µí•©í•˜ê¸°(ì¸ë±ìŠ¤/ë©”íƒ€ë°ì´í„° ì—†ìŒ)
[!] Cannot read metadata

  OrderID   Product  Quantity  Price
0    B001     Mouse        15   8000
1    B002  Keyboard       999  14500
2    B003    Webcam        10  30000
3    B004     Mouse        18   8000

In [22]:
# ê°•ë‚¨ì  mouse ëˆ„ë½ ê°’ 8000 ìœ¼ë¡œ ì±„ìš°ê¸°

shop_ê°•ë‚¨_copy1 = shop_ê°•ë‚¨.copy()
shop_ê°•ë‚¨_copy1['Price'] = shop_ê°•ë‚¨_copy1['Price'].fillna(value=8000)
shop_ê°•ë‚¨_copy1

  OrderID   Product  Quantity    Price
0    A001  Keyboard        10  15000.0
1    A002     Mouse        20   8000.0
2    A003   Monitor         5  75000.0
3    A004  Keyboard        12  15000.0

In [36]:
#ì¢…ë¡œì  999ë¥¼ 9ë¡œ ë°”ê¾¸ê¸°
shop_ì¢…ë¡œ_copy1 = shop_ì¢…ë¡œ.copy()
shop_ì¢…ë¡œ_copy1.loc[shop_ì¢…ë¡œ_copy1['Product']=='Keyboard','Quantity'] = 9
shop_ì¢…ë¡œ_copy1

  OrderID   Product  Quantity  Price
0    B001     Mouse        15   8000
1    B002  Keyboard         9  14500
2    B003    Webcam        10  30000
3    B004     Mouse        18   8000

#### ë‹¤ë¥¸ ë°©ì‹ìœ¼ë¡œ ë°”ê¾¸ëŠ” ë°©ë²•
[1] index
- ì¢…ë¡œì cp = ì¢…ë¡œì .copy()
- idx = ì¢…ë¡œì cp[ì¢…ë¡œì cp['Product'] == 'Keyboard'].index[0]
- ì¢…ë¡œì cp.loc[idx, 'Quantity'] = 9
- ì¢…ë¡œì cp


[2] replace
- ì¢…ë¡œì cp = ì¢…ë¡œì .copy()
- ì¢…ë¡œì cp['Quantity'] = ì¢…ë¡œì cp['Quantity'].replace(999, 9)
- ì¢…ë¡œì cp

In [37]:
#ë‘ ê°œì˜ df ë¥¼ í•˜ë‚˜ì˜ ë°ì´í„° í”„ë ˆì„ìœ¼ë¡œ í•©ì¹˜ì„¸ìš”
#ê¸°ì¡´ì˜ ì¸ë±ìŠ¤ëŠ” ì˜ë¯¸ê°€ ì—†ìœ¼ë‹ˆ ìƒˆë¡œìš´ ì¸ë±ìŠ¤ ë¶€ì—¬

new_df = concat([shop_ê°•ë‚¨_copy1,shop_ì¢…ë¡œ_copy1],ignore_index=True)
new_df

  OrderID   Product  Quantity    Price
0    A001  Keyboard        10  15000.0
1    A002     Mouse        20   8000.0
2    A003   Monitor         5  75000.0
3    A004  Keyboard        12  15000.0
4    B001     Mouse        15   8000.0
5    B002  Keyboard         9  14500.0
6    B003    Webcam        10  30000.0
7    B004     Mouse        18   8000.0