# LAB 03 - Data preprocessing

## 05 데이터 문자열 처리

### 01 준비 작업

#### 1-1 라이브러리 가져오기

In [1]:
from hossam import load_data

#### 1-2 데이터 불러오기

In [2]:
origin = load_data('group_list')
origin

[data] https://data.hossam.kr/data/lab03/group_list.xlsx
[desc] 어느 게임 동아리의 회원 목록을 조사한 가상의 데이터
[!] Cannot read metadata

,아이디,이메일,주소,전화번호,메모,등급,상태,등록일시
이름,,,,,,,,
김철수,kimcs,kimcs@naver.com,서울시 강남구,010-1234-5678,파이썬 좋아함,골드,활성,2024-01-15 09:30:00
이영희,leeyh,leeyh@daum.net,부산시 해운대구,010-2345-6789,메모 없음,실버,비활성,2024-02-20 14:15:30
박민수,parkms,parkms@gmail.com,대구시 중구,010-3456-7890,판다스 사용중,브론즈,활성,2024-03-10 16:45:00
최수지,choisj,choisj@hanmail.net,인천시 연수구,010-4567-8901,앞쪽공백,플래티넘,활성,2024-04-05 11:20:15
정하나,junghana,junghana@nate.com,광주시 서구,010-5678-9012,뒤쪽공백,골드,비활성,2024-05-12 08:55:45
강민호,kangmh,kangmh@yahoo.co.kr,대전시 유성구,010-6789-0123,대소문자 혼합,실버,활성,2024-06-18 13:30:20
송지은,songje,songje@outlook.com,울산시 남구,010-7890-1234,"쉼표,포함",브론즈,활성,2024-07-22 17:10:30
윤태우,yoontw,yoontw@kakao.com,세종시,010-8901-2345,숫자123포함,플래티넘,비활성,2024-08-30 10:05:00

### 02 대소문자 변경
- Series.str.lower() : 모든 문자를 소문자로 바꿉니다.
- Series.str.upper() : 모든 문자를 대문자로 바꿉니다.
- Series.str.title() : 각 단어의 첫 글자를 대문자로 바꿉니다.
- Series.str.capitalize() : 문자열의 첫 글자만 대문자로 바꿉니다

In [4]:
#원본 데이터 프레임 복사

df= origin.copy()

#예: 이메일 컬럼의 대소문자 조작
df['이메일_소문자'] = df['이메일'].str.lower()  #소문자 변경
df['이메일_대문자'] = df['이메일'].str.upper()  #대문자 변경
df['단어_첫글자'] = df['아이디'].str.title()  #단어 첫 글자 대문자 변경
df['첫글자'] = df['아이디'].str.capitalize()  #문장 첫 글자 대문자 변경
df[['이메일','이메일_소문자','이메일_대문자','단어_첫글자','첫글자']].head()

,이메일,이메일_소문자,이메일_대문자,단어_첫글자,첫글자
이름,,,,,
김철수,kimcs@naver.com,kimcs@naver.com,KIMCS@NAVER.COM,Kimcs,Kimcs
이영희,leeyh@daum.net,leeyh@daum.net,LEEYH@DAUM.NET,Leeyh,Leeyh
박민수,parkms@gmail.com,parkms@gmail.com,PARKMS@GMAIL.COM,Parkms,Parkms
최수지,choisj@hanmail.net,choisj@hanmail.net,CHOISJ@HANMAIL.NET,Choisj,Choisj
정하나,junghana@nate.com,junghana@nate.com,JUNGHANA@NATE.COM,Junghana,Junghana

### 03 공백 제거와 패딩

- str.strip() : 양쪽 공백 제거
- str.lstrip() : 왼쪽 공백 제거
- str.rstrip() : 오른쪽 공백 제거
- str.zfill(width) : 왼쪽을 0으로 채워 지정 길이로 만듭니다.
- str.pad(width, side='left'/'right'/'both', fillchar=' ') : 지정 길이로 패딩

In [5]:
df['strip'] = df['메모'].str.strip()       #앞뒤 공백 제거
df['lstrip'] = df['메모'].str.lstrip()     # 왼쪽 공백 제거
df['rstrip'] = df['메모'].str.rstrip()     # 오른쪽 공백 제거
df['zfill'] = df['아이디'].astype(str).str.zfill(12)   #왼쪽 0으로 채워 지정 길이로 만듦


#지정된 길이로 만들기 위해 side 에 지정한 위치 (left,right,both) 에 fillchar를 채움
df['pad'] = df['아이디'].astype(str).str.pad(12,side='both',fillchar='*')

df[['strip','lstrip','rstrip','zfill','pad']].head()

       strip     lstrip     rstrip         zfill           pad
이름
김철수  파이썬 좋아함  파이썬 좋아함      파이썬 좋아함  0000000kimcs  ***kimcs****
이영희    메모 없음      메모 없음      메모 없음  0000000leeyh  ***leeyh****
박민수  판다스 사용중    판다스 사용중    판다스 사용중  000000parkms  ***parkms***
최수지     앞쪽공백       앞쪽공백       앞쪽공백  000000choisj  ***choisj***
정하나     뒤쪽공백     뒤쪽공백         뒤쪽공백  0000junghana  **junghana**

### 04 특정 패턴 포함/시작/끝 검사
- str.contains('패턴') : 패턴이 포함되어 있는지 검사
- str.startswith('문자열') : 해당 문자열로 시작하는지 검사
- str.endswith('문자열') : 해당 문자열로 끝나는지 검사

In [7]:
#이메일이 naver.com 을 포함하는지 확인
df['네이버이메일'] = df['이메일'].str.contains('naver.com')


#전화번호가 010- 으로 시작하는지
df['휴대폰번호'] = df['전화번호'].str.startswith('010-')

#주소가 '구'로 끝나는지
df['구단위주소'] = df['주소'].str.endswith('구')

#결과확인
df[['이메일','네이버이메일','전화번호','휴대폰번호','주소','구단위주소']].head()

                    이메일  네이버이메일           전화번호  휴대폰번호        주소  구단위주소
이름
김철수     kimcs@naver.com    True  010-1234-5678   True   서울시 강남구   True
이영희      leeyh@daum.net   False  010-2345-6789   True  부산시 해운대구   True
박민수    parkms@gmail.com   False  010-3456-7890   True    대구시 중구   True
최수지  choisj@hanmail.net   False  010-4567-8901   True   인천시 연수구   True
정하나   junghana@nate.com   False  010-5678-9012   True    광주시 서구   True

### 05 찾기/개수/치환
- str.find('문자') : 처음 나오는 위치(없으면 -1)
- str.count('문자') : 패턴이 몇 번 나오는지
- str.replace('패턴', '대체', regex=True/False) : 패턴 치환
- 정규식을 이용해 복잡한 패턴을 대체할 수 있습니다.

In [8]:
#메모에서 '중' 문자가 처음 나오는 위치 (0부터 시작, 못 찾으면 -1)
df['메모_중_위치'] = df['메모'].str.find('중')

#메모에서 '중' 이라는 글자의 개수
df['메모_중_개수'] = df['메모'].str.count('중')

#'메모 없음' 문자열을 'empty' 로 치환
df['메모없음'] = df['메모'].str.replace('메모없음','empty')

df[['메모','메모_중_위치','메모_중_개수','메모없음']].head()

              메모  메모_중_위치  메모_중_개수         메모없음
이름
김철수    파이썬 좋아함         -1        0    파이썬 좋아함
이영희        메모 없음       -1        0        메모 없음
박민수      판다스 사용중        6        1      판다스 사용중
최수지         앞쪽공백       -1        0         앞쪽공백
정하나       뒤쪽공백         -1        0       뒤쪽공백

### 06 분할/추출/결합
 
- str.split(sep) : 문자열을 분할하여 리스트를 만듭니다.
- str.get(i) : split 결과(리스트)에서 i번째 요소를 가져옵니다.
- str.cat(sep=//.) : 여러 문자열 컬럼을 합칩니다

In [12]:
# '@' 기준으로 분할한 후 0번째 요소 반환
df['사용자명'] = df['이메일'].str.split('@').str.get(0)

#'@' 기준으로 분할한 후 1 번쨰 요소 반환
df['도메인']=df['이메일'].str.split('@').str.get(1)

#이름과 이메일 뒷부분 결합
df['이름_이메일'] = df.index.str.cat(df['도메인'],sep='@')


#결과 확인
df[['사용자명','도메인','이름_이메일']].head()

         사용자명          도메인           이름_이메일
이름
김철수     kimcs    naver.com    김철수@naver.com
이영희     leeyh     daum.net     이영희@daum.net
박민수    parkms    gmail.com    박민수@gmail.com
최수지    choisj  hanmail.net  최수지@hanmail.net
정하나  junghana     nate.com     정하나@nate.com

### 07 타입 검사 (숫자/문자 여부)
- str.isdigit() : 문자열이 숫자로만 구성되어 있으면 True (음수나 소수는 False)
- str.isnumeric() : 숫자 형태인지
- str.isalpha() : 알파벳 문자만인지
- str.isalnum() : 알파벳+숫자만인지

In [15]:
df['아이디_숫자여부(1)'] = df['아이디'].str.isdigit()
df['아이디_숫자여부(2)']=df['아이디'].str.isnumeric()
df['등급_문자여부'] = df['등급'].str.isalpha()
df['등급_문자+숫자여부'] = df['등급'].str.isalnum()

df[['아이디','아이디_숫자여부(1)','아이디_숫자여부(2)','등급','등급_문자여부','등급_문자+숫자여부']].head()

          아이디  아이디_숫자여부(1)  아이디_숫자여부(2)    등급  등급_문자여부  등급_문자+숫자여부
이름
김철수     kimcs        False        False    골드     True        True
이영희     leeyh        False        False    실버     True        True
박민수    parkms        False        False   브론즈     True        True
최수지    choisj        False        False  플래티넘     True        True
정하나  junghana        False        False    골드     True        True

### 08 길이/슬라이스

In [16]:
df['이름_길이'] = df.index.str.len()
df['이름_성'] = df.index.str.slice(0,1)
df['전화번호_뒷4자리'] = df['전화번호'].str.slice(-4)
df[['이름_길이','이름_성','전화번호','전화번호_뒷4자리']].head()

     이름_길이 이름_성           전화번호 전화번호_뒷4자리
이름
김철수      3    김  010-1234-5678      5678
이영희      3    이  010-2345-6789      6789
박민수      3    박  010-3456-7890      7890
최수지      3    최  010-4567-8901      8901
정하나      3    정  010-5678-9012      9012