# LAB 03 - Data preprocessing

## 01 데이터 구조 점검

<데이터 전처리>
- 데이터 구조 점검
- 데이터 정제
- 데이터 정리/변합
- 데이터 재구조화

### 1. 데이터 구조 점검(1)

데이터 전처리는 통계 분석이 가능한 상태로 데이터를 정제하고 구조화 하는 작업

### #01. 준비작업

In [2]:
#패키지 참조
from hossam import load_data
from pandas import CategoricalDtype #명목형 타입 클래스


# 데이터 가져오기
origin = load_data("grade")
origin

[data] https://data.hossam.kr/data/common/grade.xlsx
[desc] 어느 학급의 과목별 점수를 조사한 가상의 데이터

field    description
-------  -------------
이름     index
학년     int
성별     str
국어     int
영어     int
수학     int
과학     int

    학년  성별  국어   영어  수학  과학
이름
철수   1  남자  98   77  88  64
영희   2  여자  88  120  62  72
민철   1  남자  92   70  83  79
수현   3  여자  63   60  31  71
호영   4  남자  75   50  90  88
영호   4  남자  80   88  91  72
용식   2  남자  82   88  79  90
나영   1  여자  90   92  81  95
석영   1  남자  91   90  89  80

### #02. 데이터 확인하기
데이터 전처리를 할 때는 우선 데디터의 구성, 크기 , 타입 등을 확인한다

In [5]:
#데이터의 크기

rows,cols = origin.shape
print(f"{rows} 행, {cols} 열의 {origin.ndim} 차원 데이터")

9 행, 6 열의 2 차원 데이터

In [8]:
#각 변수의 데이터 타입 확인
origin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      int64
 1   성별      9 non-null      object
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: int64(5), object(1)
memory usage: 504.0+ bytes

### #03.데이터 타입 변경
- 데이터를 핸들링 할 때는 항상 복사본에서 처리해준다
- 어떤 처리를 하고 새로 만들어진 데이터 프레임인지 한글로 명시해주면 이후 관리에 용이하다

In [10]:
#컬럼 단위 변경을 위한 복사본 생성
컬럼타입변경df = origin.copy()
컬럼타입변경df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      int64
 1   성별      9 non-null      object
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: int64(5), object(1)
memory usage: 504.0+ bytes

In [13]:
#개별 컬럼의 데이터 타입을 바꿀때는 시리즈 개체이므로 astype 함수로 변경 가능

컬럼타입변경df['국어']=컬럼타입변경df['국어'].astype('float')  
#변경된 결과는 다시 기존 컬럼에 저장해야 반영된다

컬럼타입변경df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      int64
 1   성별      9 non-null      object
 2   국어      9 non-null      float64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: float64(1), int64(4), object(1)
memory usage: 804.0+ bytes

In [15]:
#데이터 타입을 변경할 때는 딕셔너리를 활용해서 일괄적으로 수정도 가능하다

복수타입변환df = origin.astype({'국어':'float','영어':'float','수학':'float','과학':'float'})

복수타입변환df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      int64
 1   성별      9 non-null      object
 2   국어      9 non-null      float64
 3   영어      9 non-null      float64
 4   수학      9 non-null      float64
 5   과학      9 non-null      float64
dtypes: float64(4), int64(1), object(1)
memory usage: 804.0+ bytes

In [17]:
#위에서 타입 변환을 하였어도 복사본에 반영된 것이기 떄문에 원본에는 변화가 없다
origin.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      int64
 1   성별      9 non-null      object
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: int64(5), object(1)
memory usage: 804.0+ bytes

In [19]:
#범주형 데이터를 명목 척도로 변환하기
#명목 척도로 변환해두어야 나중에 집계할 때 해당 변수는 연산되지 않는다


컬럼단위_명목변환df = origin.copy() #복사본 생성해주기


#개별 컬럼 단위로 명목척도 변환할 떄는 astype.category
컬럼단위_명목변환df['학년'] = 컬럼단위_명목변환df['학년'].astype('category')
컬럼단위_명목변환df['성별'] = 컬럼단위_명목변환df['성별'].astype('category')


컬럼단위_명목변환df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      category
 1   성별      9 non-null      category
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: category(2), int64(4)
memory usage: 1006.0+ bytes

In [21]:
#복수개의 범주형 데이터를 명목척도로 변환할 때는 딕셔너리 활용 가능

#astype을 사용하면 복사본을 바로 리턴받을 수 있다
복수단위_명목변환df = origin.astype({'학년':'category','성별':'category'})

복수단위_명목변환df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      category
 1   성별      9 non-null      category
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: category(2), int64(4)
memory usage: 1006.0+ bytes

In [23]:
#범주형 데이터를 서열 척도로 변환

#개별 컬럼 단위로 적용하여 원본에 직접 적용하기
컬럼단위_서열척도df = origin.copy()

#범주형 값의 종류를 리스트에 담고, 해당 값들이 순서가 있는 서열 척도임을 ordered 로 표현 가능
컬럼단위_서열척도df['학년']=컬럼단위_서열척도df['학년'].astype (CategoricalDtype(categories=[1,2,3,4],ordered=True))



컬럼단위_서열척도df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      category
 1   성별      9 non-null      object
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: category(1), int64(4), object(1)
memory usage: 945.0+ bytes

In [25]:
#범주형 데이터를 서열 척도로 변환 : DataFrame 전체에 적용후 복사본 리턴받기

서열척도df = origin.astype({
  '학년':CategoricalDtype(categories=[1,2,3,4],ordered=True)
})

서열척도df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 철수 to 석영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      9 non-null      category
 1   성별      9 non-null      object
 2   국어      9 non-null      int64
 3   영어      9 non-null      int64
 4   수학      9 non-null      int64
 5   과학      9 non-null      int64
dtypes: category(1), int64(4), object(1)
memory usage: 945.0+ bytes

### #04.행/열의 이름 변경
- rename() 메서드를 이용
- before: after 형태로 딕셔너리를 작성
- 원본에는 변화 없음
- columns 와 indesc 중 원하는 파라미터 하나만 설정 가능
- 원본에 반영을 원하면 inplace=True

In [28]:
이름변경df = origin.rename(
  columns ={'국어':'kor','영어':'eng','수학':'math','과학':'sci'},
  index ={'석영':'suk','호영':'ho','민철':'min','수현':'su'}
)

이름변경df

     학년  성별  kor  eng  math  sci
이름
철수    1  남자   98   77    88   64
영희    2  여자   88  120    62   72
min   1  남자   92   70    83   79
su    3  여자   63   60    31   71
ho    4  남자   75   50    90   88
영호    4  남자   80   88    91   72
용식    2  남자   82   88    79   90
나영    1  여자   90   92    81   95
suk   1  남자   91   90    89   80

명목형 데이터로 지정해야 집계할 때 빠짐

제일 먼저 확인할 건 데이터의 크기와 타입을 확인
명목형이어야하는데 (학년, 성별 등)

데이터 타입 변경시에는 항상 복사본으로 작업
데이터 프레임 한국어로 지정해도 무방

타입을 일괄적으로 바꾸기 > 딕셔너리로 지정하면 복사본이 리턴된다

범주형을 명목 척도로 변경
컬럼 단위로 바꿀때 astype 카테고리, 바꾸고 원본에 넣어줘


명목척도 중에서 순위가 있으면 서열 척도

행열의 이름을 바꾸는 rename before:after 형식의 딕셔너리